{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}重设密码{% endblock %}
{% block head %}
    <style>
        .card{
            width: 50%;
            height: 50%;
            margin-top: 5%;
            padding: 2%;
        }
    </style>
{% endblock %}
{% block page_content %}
    <div class="card mx-auto">
        <form action="" method="post" role="form">
            {{ form.hidden_tag() }}
            <div id="reset-password-div" class="form-group mx-auto" align="center">
                <h3>重置密码</h3>
            </div>
            <div id="old-password-div" class="form-group">
                {{ form.old_password(id='password', class='col-sm-12', placeholder='请输入原密码') }}
            </div>
            <div id="new-password-div" class="form-group">
                {{ form.new_password(id='new-password', class='col-sm-12', placeholder='请输入新密码') }}
            </div>
            <div id="repeat=password-div" class="form-group">
                {{ form.re_new_password(id='new-password', class='col-sm-12', placeholder='请重复输入密码') }}
            </div>
            <div id="submit-div" class="form-group">
                {{ form.submit(class='col-sm-12 btn-primary') }}
            </div>
            <div></div>
        </form>
    </div>
{% endblock %}